---
---
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

$am-blue: #155263;
$am-orange: #FF6F3C;
$am-orange2: #FF9A3C;
$am-yellow: #FFC93C;

.rxl-hero {
    color: white;
    background: linear-gradient(-63.43deg, $am-yellow 0%, $am-yellow 10%, $am-orange2 calc(10% + 1px), $am-orange2 20%, $am-orange calc(20% + 1px), $am-orange 30%, $am-blue calc(30% + 1px), $am-blue 100%);
}

/* Font stuff */
body, button, input, select, textarea {
    font-family: 'IBM Plex Sans', serif;
}
.rxl-white-text, .navbar-burger-white, .hero.is-dark .navbar-item, .hero.is-dark .navbar-link {
    color: white;
}
.mono {
    font-family: 'IBM Plex Mono', monospace;
}

/* Header/subheader colors */
$slash-color: $am-orange;
$text-color: $am-blue;

.slash-header {
    color: $text-color;

    &::before {
        color: $slash-color;
        content: '/* ';
    }
    &::after {
        color: $slash-color;
        content: ' */';
    }
}
.slash-subheader::before {
    color: $slash-color;
    content: '// ';
}

/* Language colors
 * Colors from https://github.com/ozh/github-colors
 */
@mixin lang($language, $color) {
    .lang-#{$language} {
        border-bottom: medium solid $color;
        margin-right: 5px;
    }
}
// Keep these alphabetical
@include lang("css", #563d7c);
@include lang("go", #00add8);
@include lang("html", #e34c26);
@include lang("java", #b07219);
@include lang("javascript", #f1e05a);
@include lang("php", #4f5d95);
@include lang("python", #3572a5);

/* Other stuff for projects */
.indent-col {
    max-width: 75px;
}
.linkicon {
    margin-right: 5px;
}
hr {
    background-color: #ccc;
    height: 1px;
    .project-hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Bulma overrides
$body-background-color: #000;
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/bulma.sass');
*/
