@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
.rxl-hero {
	color: white;
	background: linear-gradient(40deg, #155263 9%, #155263 43%, #FF6F3C calc(43% + 1px), #FF6F3C 52%, #FF9A3C calc(52% + 1px), #FF9A3C 80%, #FFC93C calc(80% + 1px), #FFC93C 100%);
}
.rxl-white-text {
	color: white;
}
.mono {
	font-family: 'IBM Plex Mono', monospace;
}
h1.slash {
	color: #155263;
	font-family: 'IBM Plex Mono', monospace;
}
h1.slash::before {
	color: #FF6F3C;
	content: '// ';
}
.linkicon {
	margin-right: 5px;
}