---
title: Contact
permalink: /contact
layout: page
navbar: true
---

<h1 class="font-header is-size-2">Contact</h1>
<hr>

<div class="columns">
    <div class="column is-5">
        <p>
            Thanks for your interest in reaching out! The best way to get in touch with me is through the form on this
            page or by email to:
        </p>
        <p class="font-mono">
            <strong>
                amazansk (at) cs (dot) brown (dot) edu
            </strong>
        </p>
        <!-- <p>
            You can also find me online
            {% assign social_sz_minus_one = site.social-btns.size | minus: 1 %}
            ({% for btn in site.social-btns %}<a href="{{ btn.url }}">{{ btn.name }}</a>{% if forloop.index0 !=
            social_sz_minus_one %}, {% endif %}{% endfor %}).
        </p> -->
        <p>
            I try my best to respond to all correspondence promptly. Looking forward to hearing from you!
        </p>
    </div>
    <div class="column is-1 is-hidden-mobile"></div>
    <div class="column">
        <form id="am-contact-form" name="contact" method="POST" netlify netlify-honeypot="field1" data-netlify-recaptcha="true">
            <div class="field is-hidden">
                <label class="label">Don&rsquo;t fill out this field if you&rsquo;re human. It is used for spam prevention.</label>
                <div class="control">
                    <input class="input" type="text" name="field1" placeholder="Do not write anything here!">
                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name" required placeholder="Your Name">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" required placeholder="yourname@example.com">
                </div>
            </div>

            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <input class="input" type="subject" name="subject" required placeholder="Something important!">
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" name="message" placeholder="Hi Alex..."></textarea>
                </div>
            </div>

            <!-- Netlify reCAPTCHA -->
            <div class="field" data-netlify-recaptcha="true"></div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-danger is-light" type="reset">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script is:inline>
    // https://answers.netlify.com/t/know-if-recaptcha-v2-was-checked-or-not/41271/14
    document.getElementById('am-contact-form').addEventListener('submit', function (event) {
        if (window.grecaptcha.getResponse().length > 0) { return; }
        event.preventDefault();
        window.alert("Please complete reCAPTCHA before submitting.")
    });
</script>
