---
title: Home
layout: base
navbar: true
---
<div class="container">
    <div class="section">
        <h1 class="title mono slash-header is-size-2">My Projects</h1>
        {% for project in site.projects %}
        <hr class="project-hr">
        <div class="columns">
            <div class="column is-1 indent-col"></div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <span class="is-size-3 mono slash-subheader">{% if project.icon %}<i class="fa-fw {{ project.icon }}"></i> {% endif %}<strong>{{ project.name }}</strong></span>
                    </div>
                    <div class="column is-narrow">
                        {% for link in project.links %}
                        <a href="{{ link.url }}" class="button is-{{ link.type }} rxl-project-button" target="_blank" role="button">{% if link.icon %}<i class="linkicon {{ link.icon }}"></i>{% endif %} {{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% if project.lang %}
                <p>
                    <i class="fas fa-fw fa-code"></i> 
                    {% for i in project.lang %}
                        <span class="lang-{{ i | downcase }}">{{ i }}</span>
                    {% endfor %}
                </p>
                {% endif %}
                {% if project.coauth %}
                <p>
                    <i class="fas fa-fw fa-user"></i> Worked with {{ project.coauth }}
                </p>
                {% endif %}
                {% if project.fork %}
                <p>
                    <i class="fas fa-fw fa-code-branch"></i> Based on <a href="https://github.com/{{ project.fork }}">{{ project.fork }}</a>
                </p>
                {% endif %}
                {% if project.license %}
                <p>
                    <i class="fas fa-fw fa-gavel"></i> Licensed under {{ project.license }}
                </p>
                {% endif %}
                {% if project.coauth or project.license or project.fork %}<br>{% endif %}
                <p>{{ project.info }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>