---
title: Projects
permalink: /projects
layout: page
navbar: true
---

{% assign regular_projects = site.projects | where: "type", "regular" %}
{% assign small_projects = site.projects | where: "type", "small" %}

<h1 class="title mono slash-header is-size-2">Projects</h1>
{% for project in regular_projects %}
<hr class="project-hr">
<div class="columns">
    <div class="column">
        <span class="is-size-3 mono slash-subheader">{% if project.icon %}<i class="fa-fw {{ project.icon }}"></i> {% endif %}<strong>{{ project.name }}</strong></span>
    </div>
    <div class="column is-narrow">
        {% for link in project.links %}
        <a href="{{ link.url }}" class="button is-{{ link.type }} rxl-project-button" target="_blank" role="button">{% if link.icon %}<i class="linkicon {{ link.icon }}"></i>{% endif %} {{ link.name }}</a>
        {% endfor %}
    </div>
</div>
<p>
    {% if project.lang %}
    <i class="fas fa-fw fa-code"></i>
    {% for i in project.lang %}
        <span class="lang-{{ i | downcase }}">{{ i }}</span>
    {% endfor %}
    {% endif %}

    {% if project.coauth %}
    <br>
    <i class="fas fa-fw fa-user"></i> Worked with {{ project.coauth }}
    {% endif %}

    {% if project.fork %}
    <br>
    <i class="fas fa-fw fa-code-branch"></i> Forked from <a href="https://github.com/{{ project.fork }}">{{ project.fork }}</a>
    {% endif %}

    {% if project.license %}
    <br>
    <i class="fas fa-fw fa-gavel"></i> Open-source under the {{ project.license }} license{% if project.multiple_licenses %}s{% endif %}
    {% endif %}
</p>
<p>{{ project.info }}</p>
{% endfor %}

<hr>

{% for project in small_projects %}

{% assign id = forloop.index0 %}
{% assign offset = id | modulo: 3 %}

{% if offset == 0 %}
<div class="columns is-variable is-8">
{% endif %}

    <div class="column is-4">
        <span class="is-size-4 mono slash-subheader">{% if project.icon %}<i class="fa-fw {{ project.icon }}"></i> {% endif %}<strong>{{ project.name }} </strong></span>
        <br>
        {% for link in project.links %}
        <a href="{{ link.url }}" class="button is-small is-{{ link.type }} rxl-project-button" target="_blank" role="button">{% if link.icon %}<i class="linkicon {{ link.icon }}"></i>{% endif %} {{ link.name }}</a>
        {% endfor %}
        <p>
            {% if project.lang %}
                <i class="fas fa-fw fa-code"></i>
                {% for i in project.lang %}
                    <span class="lang-{{ i | downcase }}">{{ i }}</span>
                {% endfor %}
            {% endif %}

            {% if project.coauth %}
            <br>
            <i class="fas fa-fw fa-user"></i> {{ project.coauth }}
            {% endif %}

            {% if project.fork %}
            <br>
            <i class="fas fa-fw fa-code-branch"></i> <a href="https://github.com/{{ project.fork }}">{{ project.fork }}</a>
            {% endif %}

            {% if project.license %}
            <br>
            <i class="fas fa-fw fa-gavel"></i> {{ project.license }} license{% if project.multiple_licenses %}s{% endif %}
            {% endif %}

            {% if project.lang or project.coauth or project.license or project.fork %}<br>{% endif %}
        </p>
        <p>{{ project.info }}</p>
    </div>

{% if offset == 2 %}
</div>
{% if id != small_projects.size %}
<hr>
{% endif %}
{% endif %}

{% endfor %}
