<header class="navbar theme-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">
                <strong>Alex Mazansky</strong>
            </a>
            <span class="navbar-burger navbar-burger-white" data-target="rxlnav">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="rxlnav" class="navbar-menu">
            <div class="navbar-start">
                {% for page in site.pages %}
                {% if page.navbar == true %}
                <a class="navbar-item" href="{{ page.url }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="navbar-end">
                <span class="navbar-item">
                    <div class="buttons">
                        {% for btn in site.social-btns %}
                        <a class="button is-dark is-inverted" href="{{ btn.url }}" target="_blank">
                            <span class="icon">
                                <i class="{{ btn.icon }}"></i>
                            </span>
                            <span>{{ btn.name }}</span>
                        </a>
                        {% endfor %}
                    </div>
                </span>
            </div>
        </div>
    </div>
</header>
