<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">
                <strong>Alex Mazansky</strong>
            </a>
            <span class="navbar-burger navbar-burger-white" data-target="rxlnav">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="rxlnav" class="navbar-menu">
            <div class="navbar-end">
                {% for page in site.pages %}
                {% if page.navbar == true %}
                <a class="navbar-item" href="{{ page.url }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
                <span class="navbar-item">
                    <div class="buttons">
                        <a class="button is-dark is-inverted" href="https://github.com/amazansky" target="_blank">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                        <a class="button is-dark is-inverted" href="https://linkedin.com/in/alex-mazansky" target="_blank">
                            <span class="icon">
                                <i class="fab fa-linkedin"></i>
                            </span>
                            <span>LinkedIn</span>
                        </a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</header>
