<footer class="footer theme-dark rxl-hero">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="title is-size-4 font-header">{{ site.tagline-title }}</p>
                <p class="subtitle is-size-6 rxl-white-text am-footer-subtitle">{{ site.tagline-subtitle }}</p>
                <p class="am-footer-small"><small>{{ site.tagline-desc }}</small></p>
            </div>
            <div class="column is-2 is-hidden-touch"></div>
            <div class="column">
                <b class="heading">Connect with me</b><br>
                <ul>
                    <li>
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <a class="am-social-url" href="contact">
                            Email
                        </a>
                    </li>

                    {% for btn in site.social-btns %}
                    <li>
                        <span class="icon"><i class="{{ btn.icon }}"></i></span>
                        <a class="am-social-url" href="{{ btn.url }}">
                            {{ btn.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
