<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <section class="hero is-dark rxl-hero">
            <div class="hero-head">
                {% include nav.html %}
            </div>
            
            <div class="hero-body">
                
              <div class="container rxl-post">
                <h1 class="title rxl-white-text font-header">
                    {{ page.title }}
                </h1>
                <h2 class="subtitle rxl-white-text">
                    {% if page.subtitle %}{{ page.subtitle }}<br>{% endif %}<br>{{page.date | date_to_long_string }}{% if page.author %} | {{ page.author }}{% endif %}
                </h2>
              </div>
            </div>
        </section>
        <section class="section rxl-post-section">
            <div class="content container rxl-post">
                <br>
                {% if page.note %}<p><strong>{{ page.note | smartify }}</strong></p>{% endif %}
                {{ content }}
            </div>
        </section>

        {% include foot.html %}
        <script>
            littlefoot.littlefoot({buttonTemplate: '<a aria-label="Footnote < number %>" class="tag is-rounded is-light is-info px3" id="<% reference %>" title="See Footnote <% number %>"><span class="icon is-small"><% number %></span></a>'})
        </script>
    </body>
</html>
