<!DOCTYPE html>
<html>
    <head>
        {% include analytics.html %}
        {% include head.html %}
    </head>
    <body>
        <section class="hero is-dark rxl-hero mono">
            <div class="hero-head">
                {% include nav.html %}
            </div>
            
            <div class="hero-body">
                
              <div class="container">
                <h1 class="title rxl-white-text mono">
                    {{ page.title }}
                </h1>
                <h2 class="subtitle rxl-white-text mono">
                    {% if page.subtitle %}{{ page.subtitle }}<br>{% endif %}{{page.date | date_to_long_string: "US" }}{% if page.author %} • {{ page.author }}{% endif %}
                </h2>
              </div>
            </div>
        </section>

        <div class="content container">
            <br>
            {% if page.note %}<p><strong>{{ page.note }}</strong></p>{% endif %}
            {{ content }}
        </div>

        {% include foot.html %}
        <script>
            littlefoot.littlefoot({buttonTemplate: '<a aria-label="Footnote < number %>" class="tag is-rounded is-light is-info px3" id="<% reference %>" title="See Footnote <% number %>"><span class="icon is-small"><% number %></span></a>'})
        </script>
    </body>
</html>
