<!DOCTYPE html>
<html>
    <head>
        {% include analytics.html %}
        <title>{{ page.title }}</title>
        {% include head.html %}
    </head>
    <body>
        {% include nav.html %}
        <section class="hero is-large rxl-hero">
            <div class="hero-body">
                
              <div class="container">
                <h1 class="title rxl-white-text">
                  Hey, I'm Alex.
                </h1>
                <h2 class="subtitle rxl-white-text">
                  Thanks for stopping by my website!
                </h2>
              </div>
            </div>
        </section>

        {% include projectboxes.html %}


        {% include foot.html %}
    </body>
</html>
